@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @L["Reconnect_Rejoining"]
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @L["Reconnect_Retrying"] <span id="components-seconds-to-next-attempt"></span> @L["Reconnect_Seconds"]
        </p>
        <p class="components-reconnect-failed-visible">
            @L["Reconnect_Failed"]<br />@L["Reconnect_RetryOrReload"]
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @L["Reconnect_Retry"]
        </button>
        <p class="components-pause-visible">
            @L["Reconnect_Paused"]
        </p>
        <p class="components-resume-failed-visible">
            @L["Reconnect_ResumeFailed"]<br />@L["Reconnect_RetryOrReload"]
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            @L["Reconnect_Resume"]
        </button>
    </div>
</dialog>
