@page "/about"

<PageTitle>@L["About_PageTitle"]</PageTitle>

<h1>@L["About_PageTitle"]</h1>

<p>@L["About_Description"]</p>

<h2>@L["About_ContactsTitle"]</h2>

<ul class="list-unstyled about-contacts">
    <li>
        VK:
        <a href="https://vk.com/selt3z" target="_blank" rel="noopener noreferrer">vk.com/selt3z</a>
    </li>
    <li>
        Telegram:
        <a href="https://t.me/selt3z" target="_blank" rel="noopener noreferrer">t.me/selt3z</a>
    </li>
    <li>
        Email:
        <a href="mailto:selt.miteg@gmail.com">selt.miteg@gmail.com</a>
    </li>
    <li>
        @L["Phone"]:
        <a href="tel:+79997058131">+79997058131</a>
    </li>
</ul>
