@page "/Error"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@using System.Diagnostics

<PageTitle>@L["Error_Title"]</PageTitle>

<h1 class="text-danger">@L["Error_Heading"]</h1>
<h2 class="text-danger">@L["Error_Message"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@L["Error_RequestId"]:</strong> <code>@RequestId</code>
    </p>
}

<h3>@L["Error_DevelopmentMode"]</h3>
<p>@L["Error_DevelopmentHint"]</p>
<p>
    <strong>@L["Error_DevelopmentWarning"]</strong>
    @L["Error_DevelopmentHowTo"]
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
